<div class="container">
    <h1>Mi Primer Proyecto en Angular</h1>
    <h2>{{ welcome }}</h2>

    <ul>
        <li *ngFor="let item of tasks()ks">
            {{item}}
        </li>
    </ul>

    <hr>

    <p>Hola mi nombre es {{ name }} y mi edad es {{ 10+11 }}</p>

    <hr>

    <input type="text" [value]="persona.nombre">
    <button [disabled]="status">Click ME !!!</button>

    <hr>

    <button (click)="clickHandler()">Boton (click)</button>
    <p>doble click</p>
    <button (dblclick)="clickHandler()">Boton (doble click)</button>
    <p>change</p>
    <input type="text" (change)="changeHandler($event)">
    <p>keydown</p>
    <input type="text" [value]="persona.nombre" (keydown)="keydownHandler($event)">
    <hr>

    <p>Total: {{ tasks().length}}</p>
    <ul>
        <li *ngFor="let item of tasks(); index as i">
           {{ i }} {{item}}
        </li>
    </ul>

    <h1>Signals</h1>
    <input type="text" [value]="cambia()" (change)="changeHandler($event)">
    <p>Hola mundo, soy: {{ cambia()}}</p>
    <p>Hola mundo, soy: {{ cambia()}}</p>
    <hr>


    <input type="number" [value]="person().age" (change)="changeAge($event)">
    <div *ngIf="person().age == 18; else bloque">
        Soy Eduardo
    </div>
    <ng-template #bloque>
        No soy Eduardo
    </ng-template>

    <hr>
    <h2>NgSwitch</h2>
    <div [ngSwitch]="person().name">
        <p *ngSwitchCase="'eduardo'">yo soy eduardo</p>
        <p *ngSwitchCase="'nicolas'">yo soy nicolas</p>
        <p *ngSwitchCase="'fernando'">yo soy fernando</p>
        <p *ngSwitchDefault>no soy nadie</p>
    </div>

    <hr>

    <input type="color" [formControl]="colorCtrl">
    <p>color: {{colorCtrl.value}}</p>

    <hr>

    <input type="number" [formControl] = "widthControl">
    <span class="box" [style.width.px]="widthControl.value"></span>

    <hr>
    <input type="text" [formControl]="nameControl">
    
</div>